.adm-type {
    border-radius: 8px;
    margin: 10px;
    font-size: 18px;
    padding: 4px;
    width: 50%;
}

.adm-add-button {
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
    padding: 8px 95px;
    background-color: #08734e;
    color: white;
    border: none;
    text-align: center;
}

.adm-add-button:hover {
    background-color: #08ac76;
}

.adm-delete-button {
    margin: 10px;
    border-radius: 95px;
    font-size: 18px;
    padding: 8px 95px;
    background-color: #733f42;
    color: white;
    border: none;
    text-align: center;
}

.adm-delete-button:hover {
    background-color: #a8666a;
}

.adm-main {
    text-align: center;
}