.content-wrapper{
    display: inline-block;
    min-height: 60%;
}

.log-container{
}

#content .title{
    font-size: 28px;
    padding: 9.6px 0;
    text-align: center;
}

#content .title1{
    font-size: 24px;
    margin-bottom: 11px;
    text-decoration: underline;
}

.loginpol{
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0 20px;
    display: block;
}

.center{
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
input[type=date], select {
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}
input[type=number], select {
    width: 100%;
    padding: 12px 14px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #08734e;
    color: white;
    padding: 12px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
}


input[type=submit]:hover {
    background-color: #08ac76;
}
.col-12{
    width: 100%;
    float: left;
}
.col-65{
    width: 40%;
    margin: 0 auto;
}
.btn1{
    float: left;
    background-color: #733f42;
    padding: 8px 20px;
    border-radius: 15px;
    color: white;
    font-family: Lato;
    font-size: 16px;
    text-decoration: none;
}
.prod-buy-button:hover{
    background-color: #a8666a;
}

.main-wrapper {
    max-width: 1000px;
}

.forgot-pass {
    float: right;
    font-size: 20px;
    text-decoration: underline;
}

.prod-buy-button {
    float: left;
    background-color: #733f42;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border-radius: 18px;
    font-size: 20px;
    text-decoration: none;
    margin: 0 25px;
}
